{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/places/place-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="place-container">
  <div class="place-img">
    <img src="{% static 'images/outlet-sculpture.svg' %}" alt="" />
  </div>
  <div class="place-details">
    <h1>{{ place.name }}</h1>
    {% if place.style == "Novelty" %}
    <p>An attraction in {{place.location}} unlike any other!</p>
    {% endif %}
    <p>A {{ place.location }} attraction built in {{place.year}}.</p>
    <div class="place-actions">
        <a href="{% url 'place-update' place.id %}" class="btn warn">Edit</a>
        <a href="{% url 'place-delete' place.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>

{% comment %} ======= {% endcomment %}

<h3>Add New Visiting Hours</h3>
<form action="{% url "add-hours" place.id %}" method="post" class="subsection-content">
  {% csrf_token %}
  {{ hours_form.as_p }}
  <button type="submit" class="btn submit">Add Hours</button>
</form>

<div class="hours-architect-container">
    <section class="hours-container">
      <div class="subsection-title">
        <h2>Visiting Hours</h2>
      </div>
      {% if place.hours_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for hours in place.hours_set.all %}
            <tr>
              <td>{{hours.day}}</td>
              <td>{{hours.open}} - {{hours.close}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class='subsection-content'>
        <p>{{ place.name }} hours coming soon!</p>
    </div>
      {% endif %}
    </section>

    <section class="architect-container">
      <div class="subsection-title">
        <h2>Architects</h2>
      </div>

      <h3>{{ place.name }} Architects</h3>
      <div class="subsection-content">
        {% if place.architects.count %} 
          {% for architect in place.architects.all %}
            <div class="architect-container">
              <a href="{% url 'architect-detail' architect.id %}">
                <p>{{ architect.name }}</p>
              </a>
              <form action="{% url 'remove-architect' place.id architect.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove Architect</button>
              </form>
            </div>
          {% endfor %} 
        {% else %}
          <p class="no-architects">No architects assigned.</p>
        {% endif %}
      </div>

      <h3>Choose Architects for {{ place.name }}</h3>
      <div class="subsection-content">
        {% if architects.count %} 
          {% for architect in architects.all %}
            <div class="architect-container">
              <a href="{% url 'architect-detail' architect.id %}">
                <p>{{ architect.name }}</p>
              </a>
              <form action="{% url 'associate-architect' place.id architect.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn submit">Assign architect</button>
              </form>
            </div>
          {% endfor %} 
        {% else %}
          <p class="all-architects">No remaining architects.</p>
        {% endif %}
      </div>
    </section>

  </div>
  

{% endblock %}
